
<%- include("../includes/header.ejs", {title: "Add New User "});%>

<h1>About Company X</h1>
<p>Company X is a startup making small tools for GitHub.</p>
<p>This is a site for storing names of programs, the tools used to make them, and the users who contributed to them<p/>
<p>Users can add themselves to programs, they can add new programs, languages, and styles.  Examples of styles are procedural and functional programming.</p>



<a href="/images/ERDiagram.png"> My ER Diagram</a>
<br />
<br />
<a href="/images/RelationalSchema.png"> My Relational Schema </a>
<br />
<br />
<a href="/projTwo/listAllPrograms"><< back</a>

<%- include("../includes/footer.ejs");%>

</html>
