<%- include("../includes/header.ejs", {title: "Add New User "});%>
<h1>Add New User</h1>
<form action="/projTwo/addProgramLanguageStyle" method = "get">
    Name: <input id="name" name="name" type="text" />
    <br />
    <br />

    language: <input id="language_name" name="language_name" type="text" />

    style: <input id="style_name" name="style_name" type="text" />

    <!-- addresses-->

    
    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs");%>

</html>
